<%- include("../includes/header.ejs", {title:"Players - View All"}); %>
<h1>Players</h1>




<nav>
    <ul>
        <li><a href="/game/all">Game - View All</a></li>
        <li><a href="/review/all">Review - View All</a></li>
        <li><a href="/Speed_Runner/all">Speed Runners -  View All</a></li>
        <li><a href="/gameSpeed/all">Best Times -  View All</a></li>
        <li><a href="/multiTeam/all">Multiplayer Teams -  View All</a></li>
    </ul>
</nav>
<article>
    <a href="/teamPlayers/add">Add New Team Player</a> <br />
    <br />
    <table border="1">
        <tr><th>User Name</th><th>Team Name</th><th>Actions</th></tr>
        <% for(var i=0; result.length > i; i++ ) { %>

        <tr>
            <td><%= result[i].user_name %></td>

            <td><%= result[i].team_name %></td>
            <td>

                <form action="/teamPlayers/delete/" style="display:inline;">
                    <input type="hidden" name="player_id" id="player_id" value="<%= result[i].player_id %>" />
                    <input type="submit" value="Delete"/>
                </form>

            </td>
        </tr>

        <% } %>
    </table>
</article>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

<footer>Copyright &copy; Mulkeen.com</footer>
