<%- include("../includes/header.ejs", {title:"Add New Player"}); %>
<h1>Add New Player</h1>
<form action="/teamPlayers/insert" method="get">
    User Name: <input id="user_name" name="user_name" type="text" />
    <br />

    <br />
    Team Name:
    <br />
    <select id="team_id" name="team_id" >
        <% for(var i=0; team.length > i; i++ ) { %>
        <option value="<%= team[i].team_id %>"><%= team[i].team_name %></option>
        <% } %>
    </select>
    <input type="submit" />
</form>
