<%- include("../includes/header.ejs", {title:"Review - View All"}); %>
<h1>Reviews</h1>




<nav>
    <ul>
        <li><a href="/game/all">Game - View All</a></li>
        <li><a href="/Speed_Runners/all">Speed Runners - View All</a></li>
        <li><a href="/gameSpeed/all">Best Times -  View All</a></li>
        <li><a href="/multiTeam/all">Multiplayer Teams -  View All</a></li>
        <li><a href="/teamPlayers/all">Team Players -  View All</a></li>
    </ul>
</nav>
<article>
    <a href="/review/add">Add New Review</a> <br />

    <br />
    <table border="1">
        <tr><th>Name</th><th>Score</th><th>Game</th><th>Actions</th></tr>
        <% for(var i=0; result.length > i; i++ ) { %>

        <tr>
            <td><a href="/review/?review_id=<%= result[i].review_id %>"><%= result[i].reviewer %> </a></td>
            <td><%= result[i].float_score %></td>
            <td><a href="/game/?game_id=<%= result[i].game_id %>"><%= result[i].game_title %></a></td>
            <td>

                <form action="/review/delete/" style="display:inline;">
                    <input type="hidden" name="review_id" id="review_id" value="<%= result[i].review_id %>" />
                    <input type="submit" value="Delete"/>
                </form>

            </td>
        </tr>

        <% } %>
    </table>
</article>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

<footer>Copyright &copy; Mulkeen.com</footer>
