<%- include("../includes/header.ejs", {title:"Add New Review"}); %>
<h1>Add New Account</h1>
<form action="/review/insert" method="get">
    Reviewer: <input id="reviewer" name="reviewer" type="text" />
    <br />
    <br />
    Score: <input id="float_score" name="float_score" type="float"/>
    <br />
    <br />
    Game:
    <br />
    <select id="game_id" name="game_id" >
        <% for(var i=0; game.length > i; i++ ) { %>
        <option value="<%= game[i].game_id %>"><%= game[i].game_title %></option>
        <% } %>
    </select>
    <input type="submit" />
</form>
