<%- include("../includes/header.ejs", {title:" - " + result[0].game_title}); %>
<h1>Games</h1>
<ul>
    <li>Reviewer: <%= result[0].reviewer %></li>
    <li>Score: <%= result[0].float_score %></li>
    <Li>Game Title: <%= result[0].game_title%></Li>


    <a href="/review/all"><< back</a>
</ul>
