<h1><%= title %></h1>

<br/>
1. Overview
    The purpose of this database is to store games and their corresponding  attributes.For example each game has
multiple reviews and multiple peoplewho play each game. The people who play each game are split into two categories.
If said game has a multi-player bool flag then that game has competitive teams linked to it. Each competitive team is
linked to at least five players who actively compete in the game and team they are linked to. The other category for
players is Speed_Runners which is linked to Games that have a single player bool flag as true.
    This is a simple database that does not consist of users and user accounts, it simply stores information on games
and their competitive scenes. Each team has it’s own win loss ratio and each speed runner has his/her own best time per
game played.
<br/>
<img src=”/public/images/GcmesERD.png” />
<br />
<br />
<img src=”/public/images/RelationalSchema.png” />


