<%- include("./includes/header.ejs", {title: title}); %>
<h1><%= title %></h1>

<p>Welcome to <%= title %></p>

<a href="/game/all">Game - View All</a> - View All Companies
<br />
<a href="/review/all">Reviews - View All </a> - View All Reviews
<br />
<a href ="/Speed_Runner/all">Speed Runners - View All </a> - View All Speed Runners
<br />
<a href = "/gameSpeed/all">Speed Runner Times - View All</a> - View All Best Times
<br />
<a href = "/multiTeam/all">Multiplayer Teams - View All </a> - View All Resumes
<br />
<a href = "/teamPlayers/all">All team players - View All</a> - View all team Players
<br />
<a href = "/about">About the Database</a>
<footer>Copyright &copy; Mulkeen.com</footer>

