<%- include("../includes/header.ejs", {title:"Speed Run Times - View All"}); %>
<h1>Game Speeds</h1>




<nav>
    <ul>
        <li><a href="/game/all">Game - View All</a></li>
        <li><a href="/review/all">Review - View All</a></li>
        <li><a href="/Speed_Runner/all">Speed Runners -  View All</a></li>
        <li><a href="/multiTeams/all">Resume -  View All</a></li>
        <li><a href="/teamPlayers/all">Team Players -  View All</a></li>
    </ul>
</nav>
<article>


    <br />
    <table border="1">
        <tr><th>Game Title</th><th>Player Name</th><th>Best Time</th></tr>
        <% for(var i=0; result.length > i; i++ ) { %>

        <tr>
            <td><%= result[i].game_title %></td>
            <td><%= result[i].user_name%></td>
            <td><%=result[i].best_time%></td>

        </tr>

        <% } %>
    </table>
</article>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

<footer>Copyright &copy; Mulkeen.com</footer>
