<%- include("../includes/header.ejs", {title:"Add New Team"}); %>
<h1>Add New Account</h1>
<form action="/gameSpeed/insert" method="get">
    <br />
    Game:
    <br />
    <select id="game_id" name="game_id" >
        <% for(var i=0; info.length > i; i++ ) { %>
        <option value="<%= info[i].game_id %>"><%= info[i].game_title %></option>
        <% } %>
    </select>
    <br />
    <br />
    Player:
    <select id="Splayer_id" name="Splayer_id" >
        <% for(var i=0; info.length > i; i++ ) { %>
        <option value="<%= info[i].Splayer_id %>"><%= info[i].user_name %></option>
        <% } %>
    </select>
    <br />
    <br />
    Best Time: <input id="best_time" name="best_time" type="text" />
    <input type="submit" />
</form>
