<%- include("../includes/header.ejs", {title:"Multiplayer Teams - View All"}); %>
<h1>Multiplayer Teams</h1>




<nav>
    <ul>
        <li><a href="/game/all">Game - View All</a></li>
        <li><a href="/review/all">Review - View All</a></li>
        <li><a href="/Speed_Runner/all">Speed Runners -  View All</a></li>
        <li><a href="/gameSpeed/all">Best Times -  View All</a></li>
        <li><a href="/teamPlayers/all">Team Players-  View All</a></li>
    </ul>
</nav>
<article>
    <a href="/multiTeam/add">Add New Team</a> <br />
    <br />
    <table border="1">
        <tr><th>Team Name</th><th>Win Ratio</th><th>Game</th><th>Actions</th></tr>
        <% for(var i=0; result.length > i; i++ ) { %>

        <tr>
            <td><a href="/team/?team_id=<%= result[i].team_id %>"><%= result[i].team_name %> </a></td>
            <td><%= result[i].win_ratio %></td>
            <td><a href="/game/?game_id=<%= result[i].game_id %>"><%= result[i].game_title %></a></td>
            <td>
                <button onclick="event.preventDefault();window.location.href='/multiTeam/edit/?game_id=<%= result[i].review_id %>'">Edit</button>
                <form action="/multiTeam/delete/" style="display:inline;">
                    <input type="hidden" name="team_id" id="team_id" value="<%= result[i].team_id %>" />
                    <input type="submit" value="Delete"/>
                </form>

            </td>
        </tr>

        <% } %>
    </table>
</article>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

<footer>Copyright &copy; Mulkeen.com</footer>
