<%- include("../includes/header.ejs", {title:"Add New Team"}); %>
<h1>Add New Account</h1>
<form action="/multiTeam/insert" method="get">
    Team Name: <input id="team_name" name="team_name" type="text" />
    <br />
    <br />
    Win Ratio: <input id="win_ratio" name="win_ratio" type="float"/>
    <br />
    <br />
    Game:
    <br />
    <select id="game_id" name="game_id" >
        <% for(var i=0; game.length > i; i++ ) { %>
        <option value="<%= game[i].game_id %>"><%= game[i].game_title %></option>
        <% } %>
    </select>
    <input type="submit" />
</form>
