<%- include("../includes/header.ejs", {title:" - " + result[0].game_title}); %>
<h1>Games</h1>
<ul>
    <li>Game Title: <%= result[0].game_title %></li>
    <li>Release Date: <%= result[0].date %></li>
    <Li>Single Player <%= result[0].single_player%></Li>
    <Li>Multi Player <%= result[0].multi_player%></Li>

    <a href="/game/all"><< back</a>
</ul>
