<%- include("../includes/header.ejs", {title:"Add New Account"}); %>
<h1>Add New Account</h1>
<form action="/game/insert" method="get">
    Game Title: <input id="game_title" name="game_title" type="text" />
    <br />
    <br />
    Date Released: <input id="date" name="date" type="text"/>
    <br />
    <br />
    Single Player: <input id="single_player" name="single_player" type="bool"/>
    <br />
    <br />
    Multi-Player: <input id="multi_player" name="multi_player" type="bool"/>
    <input type="submit" />
</form>
