<%- include("../includes/header.ejs", {title:"Game - View All"}); %>
<h1>Games</h1>




<nav>
    <ul>
        <li><a href="/review/all">Review - View All</a></li>
        <li><a href="/Speed_Runner/all">Speed Runners -  View All</a></li>
        <li><a href="/gameSpeed/all">Best Times -  View All</a></li>
        <li><a href="/multiTeam/all">Multiplayer Teams -  View All</a></li>
        <li><a href="/teamPlayers/all">Team Players -  View All</a></li>
    </ul>
</nav>
<article>
    <a href="/game/add">Add New Game</a> <br />
    <br />
    <table border="1">
        <tr><th>Name</th><th>Actions</th></tr>
        <% for(var i=0; result.length > i; i++ ) { %>

        <tr>
            <td><a href="/game/?game_id=<%= result[i].game_id %>"><%= result[i].game_title %> </a></td>
            <td>

                <form action="/game/delete/" style="display:inline;">
                    <input type="hidden" name="game_id" id="game_id" value="<%= result[i].game_id %>" />
                    <input type="submit" value="Delete"/>
                </form>

            </td>
        </tr>

        <% } %>
    </table>
</article>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

<footer>Copyright &copy; Mulkeen.com</footer>
