<%- include("../includes/header.ejs", {title:"Speed Runners - View All"}); %>
<h1>Speed Runners</h1>




<nav>
    <ul>
        <li><a href="/game/all">Game - View All</a></li>
        <li><a href="/review/all">Review - View All</a></li>
        <li><a href="/address/all">Address -  View All</a></li>
        <li><a href="/skill/all">Skill -  View All</a></li>
        <li><a href="/resume/all">Resume -  View All</a></li>
    </ul>
</nav>
<article>
    <a href="/Speed_Runner/add">Add a new Speed Runner </a> <br />
    <br />
    <table border="1">
        <tr><th>Name</th><th>Actions</th></tr>
        <% for(var i=0; result.length > i; i++ ) { %>

        <tr>
            <td><a href="/Speed_Runner/?Splayer_id=<%= result[i].Splayer_id %>"><%= result[i].user_name %> </a></td>
            <td>

                <form action="/Speed_Runner/delete/" style="display:inline;">
                    <input type="hidden" name="Splayer_id" id="Splayer_id" value="<%= result[i].Splayer_id %>" />
                    <input type="submit" value="Delete"/>
                </form>

            </td>
        </tr>

        <% } %>
    </table>
</article>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

<footer>Copyright &copy; Mulkeen.com</footer>
