<%- include("../includes/header.ejs", {title:"Add New Speed Runner"}); %>
<h1>Add New Speed Runner</h1>
<form action="/Speed_Runner/insert" method="get">
    Reviewer: <input id="user_name" name="user_name" type="text" />

    <input type="submit" />
</form>
